@media (max-width: 1199px) {


    .intro {
        margin-top: -5rem;
        margin-bottom: -3rem;
    }
   

    .intro__inner {
        padding-bottom: 5rem;
    }

    .intro__content {
        width: 100%;
        height: auto;
        margin: 0rem;
        padding: 0 2rem ;
    }


    .works {
        margin-bottom: 0;
    }

    .works__inner {
        width: 80%;
        margin: 1rem auto;
    }

    .works__photo {
        width: 100%;
    }
    .works__cat {
        font-size: 1.7rem;
    }
    .welcome {
        width: 90%;
    }
    .about__inner {
        margin-bottom: 2rem;
    }

    .photo__about {
        display: none;
    }
    
    .about__content {
        width:100%;
        margin-top: 0rem;
        padding:0 2rem;
        text-align: justify;
    }
    .about__title {
        font-size: 2rem;
        text-align: center;
    }
    .about__subtitle {
        font-size: 3rem ;
        text-align: center;
    }
    .about__text {
        font-size: 1.5rem;
    }

    .revievs {
        margin-bottom: 7rem;
    }
   

    .stage {
        flex: 0 1 80%;
        margin: 1rem auto;
    }

    .stage__photo {
        width: 100%;
        height: auto;
    }
    .stage__name {
        font-size: 3rem;
        text-align: center;
    }
    .stage__subtitle{
        font-size: 2rem;
    }
    .stage__text {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }

    .info__link {
        margin-top: -6rem;
    }
    
}

@media (max-width: 767px) {
    .user {
        display: none;
    }
     .nav {
        display: flex;
        justify-content: space-around;
        width: 100%;
        text-align: center;
        
    }
    .nav__link {
        margin: 0rem;
        justify-content: space-between;
        font-size: 1.2rem;
    }
    
    .intro__inner {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap-reverse;
        padding-bottom: 2rem;
        justify-content: center;
    }
    .intro__content {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .intro__photo {
        margin: 0 auto;
        max-height: 550px;
        width: 80%;
    }


    .intro__subtutle {
        font-size: 1.5rem;
    }
    .intro__title {
        font-size: 2rem;
    }
    .social {
        width: 100%;
        display:flex;
        justify-content: center;

    }

    .works {
        margin-bottom: 1rem;
        border-bottom: 1px solid var(--greyligth);
    }
    
    .header {
        padding-bottom: 0rem;
    }

    .photo__about {
        display: none;
    }
    .about__content {
        width: 100%;
        margin:1rem auto ;
        padding:0 1rem;
    }

    .about__title {
        font-size: 1rem;
    }
    .about__subtitle {
        font-size: 1.5rem;
    }
    .about__text {
        font-size: 0.9rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
    
    .welcome {
        width: 100%;
        text-align: justify;
    }
    .text__center {
        margin-top: 4rem;
        margin-bottom: 0;   
    }

    .workstage__title {
        font-size: 2rem;
        border-top: 1px solid lightgray;
        padding-top: 1rem;
    }
    .stage__name {
        font-size: 2rem;
    }
    .stage__subtitle{
        font-size: 1rem;

    }
    .stage__text {
        font-size: 0.9rem;
        color: var(--grey)
    }
   .workstage {
       margin-bottom: 2rem;
       
   }
   .info__link {
       margin-top: 1rem;
   }
   .nav__end {
       display: none;
   }

   .endline__inner {
       justify-content: center;
   }
}
