:root {
    --black: #2b2a2c;
    --grey: #737274;
    --greyligth: #dedede;
    --white: #ffffff;


}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: black;
    display: grid;
    height: 100vh;
}

footer {
    align-self: flex-end;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 1rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0px 5px;
    margin: 0 auto;

}




.contact {
    margin: 20px 0px;
    max-height: 300px;
    width: 100%;

}

.contact__inner {
    max-width: 500px;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dedede;
}

.contact__inner:last-child {
    margin: 0px;

}

.contact__input {
    margin: 0px 0px 0px 5px;
    padding: 0;
    width: 100%;
    border: none;
}
.contact__label {
    color: #807777;
}
.contact__body {
    display: flex;
    flex-direction: column;

    align-items: center;
}
.conctact__error {
    font-size: 12px;
    color: brown;
}

.header {
    padding: 1.2rem 0;
    position: relative;
}


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user {
    display: flex;
}

.user__avatar {
    border-radius: 50%;
}

.user__content {
    padding-left: 9px;
}

.user__name {
    font-size: 1rem;
    color: var(--black);
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 6px;

}

.user__prof {
    font-size: 0.75rem;
    color: var(--black);
    opacity: 0.7;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;

}

.nav__link {
    margin-left: 2rem;
    position: relative;
    font-size: 0.9rem;
    color: var(--black);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.nav__link:hover {
    border-bottom: 4px solid gray;
    border-radius: 10%;
    padding: 0 0 4px;
}

.intro__inner {
    display: flex;
    margin: 6.6rem 0px 0px 0px;
    padding-bottom: 3rem;
    position: relative;
    border-bottom: 1px solid black;
}

.intro__subtutle {
    color: var(--black);
    font-weight: 200;
    font-size: 2rem;

}

.welcome {
    color: var(--black);
    opacity: 0.7;
    font-size: 1.2rem;
}

.intro__title {
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 5px
}

.intro__text {
    color: var(--black);
    opacity: 0.7;
    font-size: 1.2rem;
}

.social {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    display: flex;
}

.social__link {
    margin-right: 0.75rem;
    text-decoration: none;
}

.social__link:hover {
    transform: translateY(-5px);

}

.btn {
    display: inline-block;
    vertical-align: top;
    width: 12.5rem;
    padding: 1rem 2rem;

    border: 1px solid black;
    border-radius: 1.8rem;
    background: none;
    cursor: pointer;

    font-size: 1rem;
    opacity: 0.7;
    color: var(--black);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    margin-bottom: 3rem;
}

.btn-submit {
    align-self: center;
}

.btn:hover {
    background: black;
    color: white;
}

.intro__photo {
    display: flex;
    flex: 0 1 100%;
}

.intro__photo img {
    width: 100%;
    border-radius: 20px;
}



.works__header {
    font-size: 2.8rem;
    color: var(--black);
    text-align: center;
    font-weight: bold;

    margin-top: 3.25rem;
    margin-bottom: 1.3rem;

    text-transform: uppercase;

}

.works__cat {
    font-size: 1rem;
    color: var(--black);
    text-transform: uppercase;

}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.works__inner {
    overflow: hidden;
    box-shadow: 0 0 2px black;
    border-radius: 4%;
    margin-bottom: 1rem;
}

.works__inner:hover {
    box-shadow: 0 0 25px black;
}

.works__content {
    color: var(--black);
    opacity: 0.7;
    padding: 1rem 0.8rem;


}

.works__title {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: bold;

    color: black;

    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
    text-align: justify;
    text-transform: uppercase;
}

.works {
    margin-bottom: 7rem;
}

.about__inner {
    display: flex;
    margin-bottom: 7.06rem;
}

.photo__about {
    width: 30%;
    height: 50%;
    margin-left: 3.5rem;
}

.photo__about-border {
    border-radius: 10px;
}

.about__content {
    width: 50%;
    margin-top: 4.8rem;
    padding-left: 4rem;
}

.about__content-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__title {
    font-size: 2.8rem;
    font-weight: bold;
    color: var(--black);
    text-transform: uppercase;
}

.about__subtitle {
    font-size: 5.75rem;
    font-weight: bold;
    color: var(--grey);
    text-transform: uppercase;
    opacity: 0.3;
}

.about__text {
    font-size: 0.75;
    font-weight: 300;
    color: var(--grey);
    margin-top: 3.1rem;
    margin-bottom: 3.8rem;
}

.revievs {
    background: #332f30;
    padding: 3rem 0;
    position: relative;
    margin-bottom: 10rem;
}

.revievs__text {

    font-size: 0.9rem;
    color: white;
    text-align: center;
}

.reviews__inner {
    width: 100%;
    max-width: 830px;
    margin: 0 auto;
}

.revievs__athtor {
    width: 100%;
    margin-top: -30px;

    text-align: center;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

}

.about__athtor {
    font-size: 1rem;
    font-weight: bold;
    color: var(--black);
}

.athtor__info {
    font-size: 1rem;
    color: var(--grey);
    font-style: italic;
    opacity: 0.7;

}

.athtor__avatar {
    border-radius: 50%;
    background-color: #737274;
}

.athtor__avatar:hover {
    box-shadow: 0 0 25px blue;
}

.workstage {
    margin-bottom: 5rem;
}

.workstage__title {
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
    opacity: 0.7;

}

.workstage__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}

.stage {
    flex: 0 1 33.333%;
    margin-bottom: 1rem;
    padding: 1rem 0.6rem 0rem 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.stage__name {
    font-size: 2rem;
    font-weight: bold;
    color: var(--black);
    padding: 1rem;
}


.stage__title {
    font-size: 1rem;
    color: var(--black);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.stage__subtitle {
    font-size: 1rem;
    color: var(--black);
    padding: 0 1rem 1rem 1rem;

}

.stage__photo {
    width: 100%;
    height: 546px;
    border-radius: 30px;
    box-shadow: 0 0 1rem var(--grey);
}


.stage__text {
    font-size: 0.7rem;
    color: var(--grey);
    text-align: justify;
    padding: 0 1rem 0 1rem;
}


.btn__more {
    width: 130px;
    height: 34px;
    padding: 0.5rem 0.7rem;

    color: var(--black)
}

.info__link {
    margin-top: 1rem;
    text-align: right;

}

.info {
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--grey);
    opacity: 0.7;
    text-transform: uppercase;
}

.endline__inner {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.endline {
    background: #2b2a2c;
}

.endline__name {
    font-size: 0.9rem;
    color: var(--grey);
    padding-right: 1rem;
    border-right: 1px solid var(--grey);
}

.endline__social {
    height: 100%;
    margin-left: 0.8rem;
    padding: 0rem 0.5rem 0rem 0rem;
}

.endline__social:last-child {
    padding: 0rem;
}


.endline__info {
    display: flex;
}

.nav__end {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;

}

.nav__linkend {
    margin-left: 2rem;
    position: relative;
    font-size: 0.9rem;
    color: var(--grey);
    font-weight: bold;
    text-decoration: none;
}

.nav__linkend:hover {
    box-shadow: 0 0 24px white;
    background: white;
    border-radius: 10%;
}

.modal {
    display: none;

    width: 100%;
    height: 100%;
    padding: 1rem;
    overflow: auto;

    background: rgba(192, 192, 192, 0.9);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

}

.show {
    display: flex;
}

.modal__dialog {
    max-width: 100%;
    max-width: 1200px;
    text-align: center;
    margin: auto;
    position: relative;
    overflow: hidden;

    background-color: white;
}

.modal__title {
    font-size: 2rem;
    color: var(--black);
    font-weight: bold;
    padding: 3rem 0;
}

.modal__photo {
    width: 100%;
    height: 100%;
}

.btn__modal {
    margin: 3rem 0;
}

.btn-center {
    align-self: center;
    justify-content: center;
}
.btn-contact {
    margin-top: 30px;
}