.success {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.success__body {
    max-width: 320px;
    width: 100%;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


}
.success__text {
    margin: 0;
    color: black;
    text-align: center;

}

.success__img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: none;
}

.succes__link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: green;
    padding-bottom: 5px;
    align-items: center;
}



.error {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.error__body {
    max-width: 320px;
    width: 100%;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.error__img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: none;
}

.error__text {
    margin: 0;
    color: brown;
    text-align: center;

}

.error__link {
    text-decoration: none;
    border-bottom: 1px solid black;
    color: black;
    padding-bottom: 5px;

}